.user-signup-background {
    background: linear-gradient(135deg, #f8f9fa, #e9ecef);
    padding: 40px 0;
}

.user-signup-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: auto;
}

.interior-image {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.signup-form-container {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.welcome-text {
    font-size: 22px;
    margin-bottom: 25px;
    font-weight: bold;
    color: #343a40;
}

.highlight-text {
    color: #F8951F;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    font-size: 14px;
    font-weight: bold;
    color: #495057;
}

.form-group input, .form-group select {
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ced4da;
    width: 100%;
}

.forgot-password {
    display: block;
    margin-top: 5px;
    color: #F8951F;
    font-size: 14px;
    text-align: right;
}

.signup-button {
    background-color: #F8951F;
    color: white;
    border: none;
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.signup-button:hover {
    background-color: green;
}

.google-button {
    background-color: #ffffff;
    color: #444;
    border: 1px solid #ddd;
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.google-button img {
    margin-right: 10px;
}

.google-button:hover {
    background-color: #f1f1f1;
}

.signup-text {
    text-align: right;
    padding-right: 15px;
    padding-left: 50px;
    margin-top: 20px;
    color: #6c757d;
}

.signup-text a {
    color: #F8951F;
    font-weight: bold;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}

.or-text {
    text-align: center;
    margin: 20px 0;
    color: #6c757d;
    font-weight: bold;
    font-size: 14px;
}
.password-container {
    position: relative;
}

.toggle-password-visibility {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #007bff;
}
